<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/bulma/css/bulma.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
           
               <img src="~/logo.png" width="100px" height="100px" />
           

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="NavItems">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="NavItems" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="General" asp-action="Home" asp-area="">
                    <b>صفحه اصلی</b>
                </a>
                <a class="navbar-item" asp-controller="Account" asp-action="CompanyEdit" asp-area="" asp-route-UserEmail="@User.Identity.Name">
                    <b>ویرایش پروفایل</b>
                </a>
                <a class="navbar-item" asp-controller="Home" asp-action="AdsSection">
                    <b>آگهی های ما</b>
                </a>

               
                
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="button is-link" asp-action="Logout" asp-controller="Account" asp-area="">
                                <strong>خروج</strong>
                            </a>
                            <a>@User.Identity.Name</a>
                        }
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
    <div class="container">
        @RenderBody()
    </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
